<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Auth Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
     
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/style.css" rel="stylesheet">
    
</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">

                    <div id="navbarMenuHeroA" class="navbar-menu" style="font-size:2.5rem">
                        <div class="navbar-end">
                            {% if session['user_email'] %}
                            <a class="navbar-item">Hello, {% print(session['user_email']) %}</a>
                            {% endif %}

                            <a href="{{ url_for('index') }}" class="navbar-item" style="font-size:2.5rem">
                                Home
                            </a>
                            {% if not session['user_email'] %}
                            <a href="{{ url_for('login') }}" class="navbar-item" style="font-size:2.5rem">
                                Login
                            </a>
                            <a href="{{ url_for('register') }}" class="navbar-item" style="font-size:2.5rem">
                                Sign Up
                            </a>
                            {% else %}
                            <a href="{{ url_for('logout') }}" class="navbar-item"style="font-size:2.5rem">
                                Logout
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
    
</body>

</html>