{% extends "base.html" %}
{% block content %}

  <!-- Image -->
  <section class="hero ">
    <div class="hero-body">
      <div class="container">
          <section class="section">
          <div class="columns">
            <div class="column is-8 is-offset-2">
              <div class="content is-medium">
                <h2 class="title is-1">All In-One Image Editing</h2>
                <h1 class="title is-3">Edit your image with few clicks</h1>
              </div>
            </div>
          </div>
        </section>

        <section class="section">
          <div class="columns">
            <div class="column is-8 is-offset-2">
              <div class="content is-medium">
                
                
                <h2 class="title is-3">This is a starter website for Image Processing. You will find customized features for 
                image such as CROP, 
                ROTATE, FLIP, and EXTRACT TEXT FROM IMAGE.</h2>
              </div>
            </div>
          </div>
        </section>

        <div class="is-divider"></div>

      

      </div>
    </div>
  </section>

  <!-- newsletter -->
  

  <!-- Articles -->

  



{% endblock %}