{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        <form action="{{ request.path }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="login__form">

                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="error_flash">
                                        {{message}}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <div class="login__row">

                            <input type="text" class="login__input name" placeholder="Firstame" name="firstname"
                                required />
                        </div>
                        
                         <div class="login__row">

                            <input type="text" class="login__input name" placeholder="Lastname" name="lastname"
                                required />
                        </div>
                                    <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
            </div>

                        <div class="login__row">

                            <input type="password" class="login__input pass" placeholder="Password" name="password" id="password_field"
                                required />
                            <input class="generate__button" id="passwordGenerateButton"
                                type="button"
                                value="Generate">
                            <input class="generate__button" id="showPasswordButton"
                                type="button"
                                value="Show">

                        </div>
                        <input type="submit" class="login__submit" value ="Register">
                    </div>
                </form>
    </div>
</div>
{% endblock %}